@model CumulativeProject1_AkshayaDupati.Models.Teacher


@{
    ViewBag.Title = "Edit";
}

<style>
    .site_header {
        text-align: center;
        margin-top: 30px;
    }

    a {
        margin: 10px;
    }

    form {
        margin: 10px;
    }

    .main {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: lightgrey;
    }

    input[type="submit"] {
        color: white;
        background-color: green;
        margin-top: 10px;
        padding: 5px 20px;
        border-radius: 5px;
    }

        input[type="submit"]:hover {
            color: white;
            background-color: black;
        }
</style>



<h2 class="site_header">Edit Teacher</h2>

<div class="main">
    <div>
        <a href="/Teacher/List">Back to Teachers</a>
    </div>
    <form method="POST" action="/Teacher/Update/@Model.TeacherId" onsubmit="formValidation">
        <div>
            <label>First Name: </label>
            <input type="text" name="teacherfname" value="@Model.TeacherFName" required />
        </div>
        <div>
            <label>Last Name: </label>
            <input type="text" name="teacherlname" value="@Model.TeacherLName" required />
        </div>
        <div>
            <label>Salary: </label>
            <input type="number" name="teachersalary" step=".01" value="@Model.TeacherSalary" required />
        </div>
        <div>
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>

